{% extends 'base.html' %}

{% block container %}
<h2>Listing</h2>
<p>
  <p>
    Item name: {{ listing.item_name }}<br>
    Condition: {{ listing.condition }}<br>
    Category: {{ listing.category }}<br>
    Price: ${{ listing.display_price }}<br>
    Shipping Included: {{ listing.shipping }}<br>
    <br>
    Description:<br>
    {{ listing.description }}<br>
    <br>
    Status: {{ listing.sold }}
  </p>
</p>
<br>
<h3>Comments:</h3>
<p>
  <p><a href="{{url_for('create_comment', mongoid=listing._id)}}">Write your own comment</a></p>
  {% for doc in docs %}
  <div>
    <hr class="solid">
      <p class="post">
        Posted by {{doc.name}} at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
        </br>
        <a href="{{ url_for('edit_c',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete_comment',mongoid=doc._id)}}">Delete</a>
      </br>
      </p>
      <p id="comments" > 
        {{doc.comment}}<br>
      </p>
    </div>
    {%endfor%}
</p>
{% endblock %}