{% extends 'base.html' %}

{% block container %}
<h2>Validate - Delete</h2>
<p>
    Item name: {{ doc.item_name }}<br>
    Condition: {{ doc.condition }}<br>
    Category: {{ doc.category }}<br>
    Price: ${{ doc.display_price }}<br>
    Shipping Included: {{ doc.shipping }}<br>
    <br>
    Description:<br>
    {{ doc.description }}<br>
    <br>
    Status: {{ doc.sold }}
</p>
<br>
<p>Please enter your listing password:</p>
<form method="POST" action="{{ url_for('delete_password', mongoid=mongoid)}}">
  <p>Password: <input type="text" id="fpassword" name="fpassword" /><br /></p>
  <p>Delete?:
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="create-btn" value="Confirm" />
  </p>
</form>
{% endblock %}