{% extends 'base.html' %} {% block container %}
<h2>Update</h2>
<p>Edit a comment.</p>
<form method="POST" action="{{ url_for('edit_comment', mongoid=mongoid) }}">
  <p>Item ID: {{doc.item_id}}</p>
  <p>Your name: <input type="text" id="fname" name="fname" value="{{ doc.name }}" /><br /></p>
  <p>
    Message:
    <textarea type="text" id="fcomment" name="fcomment">{{ doc.comment }}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read_comments', mongoid=doc.item_id)}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}